/*Fixed borders*/

*{
  box-sizing: border-box;
  font-family:Trebuchet MS,Helvetica,sans-serif;
}


/*HTML and BODY 100%*/

html,
body{
  min-height: 100%;
  overflow-x: hidden;
}


/*Background color*/

body{
  background-color: #f1f1f1;
}


/*Removes input glow*/

:focus{
  outline: none;
}


/*Placeholder color*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #888;
  opacity: 1; /* Firefox */
}


/*Submit and button show pointer*/

input[type="submit"],
button{
  cursor: pointer;
}


/*Remove up and down arrows from input type number*
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*Apple input prefix*/

input{
  border-radius: 0;
}


/*Responsive images*/

img{
  height: auto;
  max-width: 100%;
}


/*Form*/

form{
  display: flex;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}

form > div{
  flex: 1;
}

form div:first-child select{
  border-top-left-radius: 6px;
}

form div:last-child select{
  border-left: none;
  border-top-right-radius: 6px;
}

form div:last-child textarea{
  border-left: none;
}

form > div select{
  display: block;
  min-width: 100%;
  padding: 10px;
  font-size: 16px;
  border-color: #777;
  margin: 0;
  cursor: pointer;
}

form > div textarea{
  display: block;
  min-width: 100%;
  resize: none;
  min-height: 200px;
  border-top: none;
  padding: 10px;
  font-size: 16px;
  border-bottom: 0;
  border-color: #777;
  margin: 0;
  border-radius: 0px;
}

form .options{
  border-left: none !important;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 6px;
  padding: 0;
}

form .options-empty{
  border-bottom-left-radius: 6px;
  padding: 0;
}

form .options, form .options-empty{
  background-color: #fff;
  height: 30px;
  border: 1px solid #777;
  border-top: none;
}

form .options span{
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

form div:last-child textarea{
  border-left: none;
}

form > div > div{
  position: relative;
}


/*Media queries*/

@media only screen and (max-width: 800px) {
  form{
    max-width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  form{
    max-width: 99%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  form{
    flex-direction: column;
  }
  form div:first-child{
    margin-bottom: 5px;
  }
  form div:last-child textarea {
    border-left: 1px solid #777;
  }
  form div:last-child select{
    border-left: 1px solid #777;
  }
  form .options{
    border-left: 1px solid #777 !important;
    border-bottom-left-radius: 6px;
  }
  form .options-empty{
    border-bottom-right-radius: 6px;
  }
  form > div select{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}
